* {
    box-sizing: border-box;
  
    .kanit-light-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: italic;
      }

      .kanit-regular-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .kanit-medium-italic {
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit';
}

.heading {
    font-size: 25px;
    color: rgb(255, 115, 0);
    margin-bottom: 20px;
    margin-right: 15px;
}

.container {
    width: 380px;
    height: 500px;
    padding: 5px;
}

.lines {
    font-size: 20px;
    color: rgb(0, 102, 170);
}

span {
    color: rgb(255, 0, 234);
    font-size: 20px;
    font-weight: 500;
}

.buttons {
   display: inline;
   background-color: aliceblue;
   border-style: none;
   width: 70px;
   height: 25px;
   border-radius: 5px;
   font-family: 'Kanit';
   font-weight: 500;
   font-size: 16px;
   box-shadow: 1px 1px 2px black; 
   cursor: pointer;
   margin: 10px 25px;
   color: rgb(0, 114, 190);
}

.buttons:active {
    box-shadow: none;
    font-size: 15px;
}

#check1, #check2, #check3, #check4, #check5, #check6 {
    visibility: hidden;
}



